In [5]:
import warnings
warnings.filterwarnings('ignore')

import pandas as pd
import numpy as np
import time
import os
import gc
import nltk

np.random.seed(42)

import matplotlib as mpl
import matplotlib.pyplot as plt
%matplotlib inline
plt.style.use('ggplot')

from sklearn.linear_model import SGDClassifier 
from sklearn.model_selection import StratifiedKFold, RepeatedStratifiedKFold, cross_val_score, GridSearchCV
from sklearn.metrics import accuracy_score
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.pipeline import make_pipeline, FeatureUnion

In [34]:
df = pd.read_csv('products_sentiment_train.tsv', delimiter='\t', header=None, names=['Reviews', 'Target'])
df.head(5)

                                             Reviews  Target
0          2 . take around 10,000 640x480 pictures .       1
1  i downloaded a trial version of computer assoc...       1
2  the wrt54g plus the hga7t is a perfect solutio...       1
3  i dont especially like how music files are uns...       0
4  i was using the cheapie pail ... and it worked...       1

In [32]:
X.isnull().values.any()

False

In [56]:
X_train = df['Reviews']
review_labels = df['Target']

In [76]:
X_test = pd.read_csv('products_sentiment_test.tsv', sep='\t', usecols=[1])
X_test.head(5)

                                                text
0  so , why the small digital elph , rather than ...
1  3/4 way through the first disk we played on it...
2  better for the zen micro is outlook compatibil...
3    6 . play gameboy color games on it with goboy .
4  likewise , i 've heard norton 2004 professiona...